.bg-grid-pattern,
body {
	background-color: #fafafa; /* zinc-50 */
	background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
	background-size: 24px 24px;
}

body {
	padding: calc(var(--spacing) * 6);
	height: 100vh;
	width: 100vw;
}
